body{
     margin: 0px;
     font: 14px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
     color: #f0e7d5;
     background: #252525 
}
 h1,h2{
     color: #e8e8e8;
     margin: 0;
     font-weight: normal;
     text-align: center 
}
 h1{
     font-size: 48px 
}
 h2 {
     font-size: 36px 
}
 hr{
     border:0;
     outline:none;
     height:3px;
     background: transparent url("../images/hr.gif") bottom center repeat-x;
     margin:0 0 20px 
}
 .inner{
     max-width: 620px;
     padding-left: 25px;
     padding-right: 25px;
     margin: auto 
}
 p{
     text-align: justify;
     font-size: 16px 
}
 a{
     color: #ffcc00;
     text-decoration: none 
}
 .button{
     display: block;
     width: 35%;
     margin-top: 5px;
     padding: 10px 12px;
     text-align: center;
     text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
     color: #FFFFFF;
     background-color: #93bd20;
     border: 1px solid #5d910b;
     box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3),0px 3px 7px rgba(0,0,0,0.7) 
}
 footer{
     margin-top: 50px;
     text-align: center 
}
 footer a img{
     width: 40px;
     height: 40px;
     margin: 10px 15px 
}
